@import "colors";
@import "sizes";


.block {
    position: relative;
    border-bottom: 1px solid $c-clouds-grey;
    margin-bottom: 3rem;
    width: $s-block-width;
    border-radius: 5px;
    float: right;
    clear: right;
}
