.filter-element {
    position: relative;
    width: 30%;
    float: right;
    clear: both;
}

.filter-caption {
    position: relative;
    width: 70%;
    float: right;
}

.filter {
    padding: 5px;
    clear: both;
    overflow: hidden;
}
