.filter-element {
    margin-bottom: 3rem;
    overflow: hidden;
}

.filter-caption {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: right;
}

.filter {
    position: relative;
    clear: both;
    overflow: hidden;
}
