@import "colors";
@import "sizes";


.header {
    position: relative;
    width: 100%;
    height: $s-header-height;
    padding: 10px 20px;
    text-align: right;
    a {
        &:link, &:visited {
            color: $c-wet-asphalt-blue;
        }
    }
}

