$c-wet-asphalt-blue: #34495E;

$c-light-turquoise-green: #48c9b0;
$c-turquoise-green: #1ABC9C;
$c-sea-green: #16A085;

$c-clouds-grey: #ECF0F1;
$c-silver-grey: #BDC3C7;
$c-concrete-grey: #95A5A6;
$c-asbestos-grey: #7F8C8D;
